.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

rect {
  fill: none;
  pointer-events: all;
}


.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.link {
  stroke: #999;
  fill: none;
}


#topic {
  width: 100%;
}

.test {
  text-align: center;
}

.menu {
  padding-bottom: 1px;
  margin-bottom: 10px;
  border-bottom: 2px solid !important;
}

.menu_input {
  width: 70%;
}

#addBtn {
  background-color: #5db5ab !important;
  border-color: #5db5ab !important;
}

#editBtn {
  background-color: #d39e00;
  border-color: #d39e00;
  color: #080808;
}

#delBtn {
  background-color: #da7d5e;
  border-color: #da7d5e;
  color: #080808;
}

#expBtn {
  background-color: #1d1f20 !important;
  background-color: #1d1f20 !important;
  color: white;
}

#expBtn:hover,
#expBtn:focus {
  color: rgb(216, 215, 215);
}

#editBtn:hover,
#delBtn:hover,
#editBtn:focus,
#delBtn:focus {
  color: white !important;
}

.btn-info {
  background-color: #1d1f20 !important;
  border-color: #1d1f20 !important;
  color: #1c1c1c;
}

#logo {
  width: 7%
}

.node {
  cursor: pointer;
}

#topic {
  display: inline;
}

#enter {
  position: absolute;
  margin-left: 1%;
  width: 5.5%;

}

.btn-primary:focus {
  background-color: yellow;
}
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  #svgCanvas {
    width: 330px;
    height: 466px;
  }
}

@media only screen and (max-width: 834px) {
  .menu_input {
    width: 100%;
  }

  #logo {
    width: 15%
  }

  .btn-br {
    width: 40px;
    height: 40px;
  }

  .btn-br>span {
    display: none;
    color: grey;
  }

  #formLabel {
    margin-left: 2%;
    font-size: 13px;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    font-size: 16px;
  }
}

