.node {
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 2px;
}
#topic {
  width: 100%;
}

.test {
  text-align: center;
}

.menu {
  padding-bottom: 1px;
  margin-bottom: 10px;
  border-bottom: 2px solid !important;
}
.menu_input {
  width: 70%;
}
#addBtn {
  background-color: #5db5ab !important;
  border-color: #5db5ab !important;
}
.btn-secondary {
  background-color: #c28c7e !important;
  border-color: #c28c7e !important;
}
.btn-info {
  background-color: #1d1f20 !important;
  border-color: #1d1f20 !important;
}
.node {
  display: none;
}
.text {
  border-radius: 40px;
  background: #73ad21;
}

@media only screen and (max-width: 834px) {
  .menu_input {
    width: 100%;
  }
}
