:root{
  --primary: #5db5ab;
  --link:#1D1F20;
  --background: #f9f3f1;
  --add: #5db5ab;
  --edit: #d39e00;
  --delete: #da7d5e;
  --export: #1d1f20;
  --go: #218838;
  --white: white;
  --line: #9ecae1;
}
.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

rect {
  fill: none;
  pointer-events: all;
}


.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}


.menu {
  padding-bottom: 1px;
  margin-bottom: 10px;
  border-bottom: 2px solid !important;
}

.menu_input {
  width: 70%;
}

#addBtn {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

#editBtn {
  background-color: var(--edit);
  border-color: var(--edit);
  color: #080808;
}

#delBtn {
  background-color: var(--delete);
  border-color: var(--delete);
  color: #080808;
}

#expBtn {
  background-color: var(--export) !important;
  background-color: var(--export) !important;
  color: var(--white);
}

#expBtn:hover,
#expBtn:focus {
  color: rgb(216, 215, 215);
}

#editBtn:hover,
#delBtn:hover,
#editBtn:focus,
#delBtn:focus {
  color: var(--white) !important;
}

.btn-info {
  background-color: #1d1f20 !important;
  border-color: #1d1f20 !important;
  color: #1c1c1c;
}

#logo {
  width: 7%
}

.node {
  cursor: pointer;
}

#topic {
  display: inline;
}

#enter {
  position: absolute;
  margin-left: 1%;
  width: 5.5%;

}


#goIcon + span{
  margin-left: 0%;
}
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  #svgCanvas {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 834px) {
  .menu_input {
    width: 100%;
  }

  #logo {
    width: 15%
  }

  .btn-br {
    width: 40px;
    height: 40px;
  }
  #goIcon{
    display:none;
  }


  .btn-br>span {
    display: none;
  
  }

  #formLabel {
    margin-left: 2%;
    font-size: 13px;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    font-size: 16px;
  }
}

