h1, p {
  font-family: Lato;
}
h1 {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: #1D1F20;
}

h2 {
    font-family: "Roboto Thin", sans-serif;
    font-weight: 200;
    font-size: 35px;
}

h3 {
    font-family: "Roboto Thin", sans-serif;
    font-weight: 200;
    font-size: 24px;
}

h4 {
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px;
}

h5 {
    font-family: "Roboto Regular", sans-serif;
    font-size: 12px;
}

p {
    font-family: "Roboto Regular", sans-serif;
    font-size: 16px;
}

b {
    font-family: "Roboto Black", sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

a {
    font-family: "Roboto Black", sans-serif;
    font-size: 16px;
    color: #1D1F20;
}


h1.span {
    font-family: "Roboto Thin", sans-serif;
    font-weight: 100;


}


body {
    background-color: #F9F3F1;
}
#navbar_banner{
  background-color: #F9F3F1 !important ;
}

b {
    color: #1D1F20;
}

p {
    color: #1D1F20;
}

.btn {
    border-radius: 3rem !important;

}

.btn-primary {
    background-color: #5DB5AB !important;
    border-color: #5DB5AB !important;
}
.btn-link{
    color: #1D1F20;
}
#banner-container{
  background-color: #F9F3F1 !important;
}
.lotties {
    display: grid;
    grid-template-columns: auto auto;
}
.click-circle {
    fill: skyblue;
}
.navbar{
  background-color: #F9F3F1 !important;
}

.btn-brainmap {
   background-color: #5DB5AB;
  color: #F9F3F1;
 }

 .btn-xxl {
  padding: 1rem 1rem;
  font-size: 2rem;
 }



@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
    .lotties {
        display: grid;
        grid-template-columns: auto;
    }
}

@media print {

/* #myDivToPrint {
        visibility: visible;
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    } */
    #myDivToPrint svg {
        visibility: visible;
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}