:root{
    --primary: #5db5ab;
    --link:#1D1F20;
    --background: #f9f3f1;
    --add: #5db5ab;
    --edit: #d39e00;
    --delete: #da7d5e;
    --export: #1d1f20;
    --go: #218838;
    --white: white;
}

h1 {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: #1D1F20;
}

h2 {
    font-family: "Roboto Thin", sans-serif;
    font-weight: 200;
    font-size: 35px;
}

h3 {
    font-family: "Roboto Thin", sans-serif;
    font-weight: 200;
    font-size: 24px;
}

h4 {
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px;
}

h5 {
    font-family: "Roboto Regular", sans-serif;
    font-size: 12px;
}

p {
    font-family: "Roboto Regular", sans-serif;
    font-size: 16px;
}

b {
    font-family: "Roboto Black", sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

a {
    font-family: "Roboto Black", sans-serif;
    font-size: 16px;
    color: var(--link);
}


h1.span {
    font-family: "Roboto Thin", sans-serif;
    font-weight: 100;


}

html {
    overflow: hidden;

}

body {
    background-color: var(--background);
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;

}

#navbar_banner {
    background-color: var(--background) !important;
}

b {
    color: var(--link);
}

p {
    color: var(--link);
}

.btn {
    border-radius: 3rem !important;
}

.btn-primary {

    color: var(--link);
}

.btn-secondary:active {
    color: var(--white);
}



.btn-success:active,
.btn-success:hover,
.btn-secondary:active {
    color: var(--white);
}

.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled):active {
    color: var(--white);
}

.btn-success {
    color: var(--link);
}

.btn-link {
    color: var(--link);
}

#banner-container {
    background-color: var(--background) !important;
}

.lotties {
    display: grid;
    grid-template-columns: auto auto;
}


.navbar {
    background-color: var(--background) !important;
}

.btn-brainmap {
    background-color: var(--primary);
    color: var(--background);
}

.btn-xxl {
    padding: 1rem 1rem;
    font-size: 2rem;
}

.btn-br:focus,
.btn-br:focus-visible,
.btn-br:focus-within {
    filter: brightness(85%) !important;
}


.btn:focus {
    color: var(--white);
}


.btn-add {
    background-color: var(--add);
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    display: inline-block;
    cursor: pointer;
    color: var(--link);
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
}

.btn-add:hover {
    background-color: var(--white);
}

.btn-add:active {
    position: relative;
    top: 1px;
}




@media only screen and (max-width: 834px) {
    .lotties {
        display: grid;
        grid-template-columns: auto;
    }

    .btn-xxl {
        padding: 1rem 1rem;
        font-size: 1rem;
    }
}

@media print {

    /* #myDivToPrint {
        visibility: visible;
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    } */

    #myDivToPrint svg {
        visibility: visible;
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
        clear: both;
        display: block;
    }
}